*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#canvas1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#00e1ff,#4083ff);
    
}