:root{
    --bg-color:rgb(0, 153, 255);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    /* background: var(--bg-color); */
    background: linear-gradient(rgb(72, 221, 255),rgb(10, 137, 255));
}
.frame{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.fish{
    position: absolute;
    top: calc(100% - 35%);
    left: calc(100% - 85%);
}

.fish1
{
    position: relative;
    height: 60px;
    width: 120px;
    background-color: transparent;
    border-right: 4px solid #ddd;
    border-top: 4px solid #ddd;
    border-top-right-radius: 25px;
}
.fish2
{
    position: absolute;
    top: 63.5px;
    left: 116px;
    height: 4px;
    width: 35px;
    background-color: #ddd;
    transform: rotateZ(25deg);
}
.fish3
{
    position: absolute;
    top: 77px;
    left: 141px;
    height: 4px;
    width: 15px;
    background-color: #ddd;
    transform: rotateZ(90deg);
}
.fish4
{
    position: absolute;
    top: 103px;
    left: 75px;
    height: 4px;
    width: 80px;
    background-color: #ddd;
    transform: rotateZ(150deg);
    border-radius: 10px;
}
.fish5
{
    position: absolute;
    top: 122px;
    right: 38px;
    height: 4px;
    width: 100px;
    background-color: #ddd;
    transform: rotateZ(0deg);
    border-radius: 10px;
}
.fish6
{
    position: absolute;
    top: 110px;
    right: 113px;
    height: 4px;
    width: 30px;
    background-color: #ddd;
    transform: rotateZ(-53deg);
    border-radius: 10px;
}
.fish7
{
    position: absolute;
    top: 62px;
    right: 80px;
    height: 4px;
    width: 80px;
    background-color: #ddd;
    transform: rotateZ(90deg);
    border-radius: 10px;
}
.fish8
{
    position: absolute;
    top: 12px;
    right: 117px;
    height: 4px;
    width: 94px;
    background-color: #ddd;
    transform: rotateZ(-165deg);
    border-radius: 10px;
}
.fish9
{
    position: absolute;
    top: 0px;
    right: 115px;
    height: 3.5px;
    width: 93px;
    background-color: #ddd;
    transform: rotateZ(0deg);
    border-radius: 10px;
}

.eye{
    position: absolute;
    top: 45px;
    right: 10px;
    height: 16px;
    width: 16px;
    background-color: #ddd;
    transform: rotateZ(0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eye::after{
    content:'';
    position: absolute;
    height: 13px;
    width: 13px;
    background: var(--bg-color);
    border-radius: 50%;
    overflow: hidden;
}
.eye .eyeball{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
    z-index: 9;
    animation: eyeball 3s infinite linear;
    animation-delay: 1s;
}
@keyframes eyeball 
{
    0%,100%{
        height: 0px;
    }
    50%{
        height: 10px;
    }
}
.fish10
{
    position: absolute;
    top: 45px;
    right: 116px;
    height: 4px;
    width: 60px;
    background-color: #ddd;
    transform: rotateZ(33deg);
    border-radius: 10px;
}
.fish11
{
    position: absolute;
    top: 85px;
    right: 116px;
    height: 4px;
    width: 60px;
    background-color: #ddd;
    transform: rotateZ(-33deg);
    border-radius: 10px;
}

.fish12
{
    position: absolute;
    top: 58px;
    right: 120px;
    height: 4px;
    width: 63px;
    background-color: #ddd;
    transform: rotateZ(10deg);
    border-radius: 10px;
}
.fish13
{
    position: absolute;
    top: 73px;
    right: 120px;
    height: 4px;
    width: 63px;
    background-color: #ddd;
    transform: rotateZ(-10deg);
    border-radius: 10px;
}
.fish14
{
    position: absolute;
    top: 41px;
    right: 160px;
    height: 4px;
    width: 30px;
    background-color: #ddd;
    transform: rotateZ(115deg);
    border-radius: 10px;
}
.fish15
{
    position: absolute;
    top: 67px;
    right: 166px;
    height: 4px;
    width: 30px;
    background-color: #ddd;
    transform: rotateZ(90deg);
    border-radius: 10px;
}
.fish16
{
    position: absolute;
    top: 90px;
    right: 161px;
    height: 4px;
    width: 27px;
    background-color: #ddd;
    transform: rotateZ(61deg);
    border-radius: 10px;
}

.tail{
    position: absolute;
    top: -2px;
    left: 120px;
    animation: tailmove 2s infinite linear;
}
@keyframes tailmove 
{
    0%,100%{
        transform: perspective(920px) rotateY(21deg);
    }
    50%{
        transform: perspective(920px) rotateY(0deg);
    }
}

.fish17
{
    position: absolute;
    top: 135px;
    right: 34px;
    height: 4px;
    width: 45px;
    background-color: #ddd;
    transform: rotateZ(-35deg);
    border-radius: 10px;
}
.fish18
{
    position: absolute;
    top: 135px;
    right: 60px;
    height: 4px;
    width: 28px;
    background-color: #ddd;
    transform: rotateZ(90deg);
    border-radius: 10px;
}
.fish19
{
    position: absolute;
    top: 133px;
    right: 79px;
    height: 4px;
    width: 35px;
    background-color: #ddd;
    transform: rotateZ(-35deg);
    border-radius: 10px;
}
.fish20
{
    position: absolute;
    top: 133px;
    right: 99px;
    height: 4px;
    width: 22px;
    background-color: #ddd;
    transform: rotateZ(90deg);
    border-radius: 10px;
}

.fin{
    position: absolute;
    top: -1px;
    right: 0px;
    animation: finmove 2s infinite;
    animation-delay: 0.3s;
}
@keyframes finmove
{
    0%,100%{
        transform: perspective(900px) rotateX(0deg);
    }
    50%{
        transform: perspective(900px) rotateX(15deg) ;
    }
}

.scale .s1:nth-child(1){
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.662);
    height: 5px;
    width: 50px;
    border-radius: 20px;
}
.scale .s1:nth-child(2){
    position: absolute;
    top: 10px;
    left: 52px;
    background-color: rgba(255, 255, 255, 0.671);
    height: 5px;
    width: 20px;
    border-radius: 20px;
}
.scale .s1:nth-child(3){
    position: absolute;
    top: 10px;
    left: 75px;
    background-color: rgba(255, 255, 255, 0.671);
    height: 5px;
    width: 25px;
    border-radius: 20px;
}
.scale .s1:nth-child(4){
    position: absolute;
    top: 18px;
    left: 75px;
    background-color: rgba(255, 255, 255, 0.461);
    height: 5px;
    width: 25px;
    border-radius: 20px;
}
.scale .s1:nth-child(5){
    position: absolute;
    top: 18px;
    left: 48px;
    background-color: rgba(255, 255, 255, 0.461);
    height: 5px;
    width: 25px;
    border-radius: 20px;
}
.scale .s1:nth-child(6){
    position: absolute;
    top: 18px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.461);
    height: 5px;
    width: 35px;
    border-radius: 20px;
}
.scale .s1:nth-child(7){
    position: absolute;
    top: 26px;
    left: 7px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 45px;
    border-radius: 20px;
}
.scale .s1:nth-child(8){
    position: absolute;
    top: 26px;
    left: 55px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 25px;
    border-radius: 20px;
}
.scale .s1:nth-child(9){
    position: absolute;
    top: 26px;
    left: 82px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 10px;
    border-radius: 20px;
}

.scale .s1:nth-child(10){
    position: absolute;
    top: 35px;
    left: 78px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 10px;
    border-radius: 20px;
}
.scale .s1:nth-child(11){
    position: absolute;
    top: 35px;
    left: 45px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 30px;
    border-radius: 20px;
}

.scale .s1:nth-child(12){
    position: absolute;
    top: 70px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 30px;
    border-radius: 20px;
}

.scale .s1:nth-child(13){
    position: absolute;
    top: 70px;
    left: 42px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 20px;
    border-radius: 20px;
}

.scale .s1:nth-child(14){
    position: absolute;
    top: 70px;
    left: 65px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 15px;
    border-radius: 20px;
}
.scale .s1:nth-child(15){
    position: absolute;
    top: 77px;
    left: 75px;
    background-color: rgba(255, 255, 255, 0.269);
    height: 5px;
    width: 30px;
    border-radius: 20px;
}
.scale .s1:nth-child(16){
    position: absolute;
    top: 77px;
    left: 75px;
    background-color: rgba(241, 241, 241, 0.441);
    height: 5px;
    width: 30px;
    border-radius: 20px;
}
.scale .s1:nth-child(17){
    position: absolute;
    top: 77px;
    left: 53px;
    background-color: rgba(241, 241, 241, 0.441);
    height: 5px;
    width: 20px;
    border-radius: 20px;
}
.scale .s1:nth-child(18){
    position: absolute;
    top: 77px;
    left: 25px;
    background-color: rgba(241, 241, 241, 0.441);
    height: 5px;
    width: 25px;
    border-radius: 20px;
}
.scale .s1:nth-child(19){
    position: absolute;
    top: 84px;
    left: 20px;
    background-color: rgba(241, 241, 241, 0.13);
    height: 5px;
    width: 20px;
    border-radius: 20px;
}
.scale .s1:nth-child(20){
    position: absolute;
    top: 84px;
    left: 43px;
    background-color: rgba(241, 241, 241, 0.13);
    height: 5px;
    width: 27px;
    border-radius: 20px;
}
.scale .s1:nth-child(21){
    position: absolute;
    top: 84px;
    left: 72px;
    background-color: rgba(241, 241, 241, 0.13);
    height: 5px;
    width: 30px;
    border-radius: 20px;
}
.scale .s1:nth-child(22){
    position: absolute;
    top: 92px;
    left: 72px;
    background-color: rgba(241, 241, 241, 0.13);
    height: 5px;
    width: 15px;
    border-radius: 20px;
}

.fish{
    animation: updown 2s infinite linear;
}
@keyframes updown 
{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
}

.bubbles{
    position: absolute;
    top: calc(100% - 35%);
    left: calc(100% - 65%);
}
.bubbles .bub:nth-child(0){
    position: absolute;
    top: 10px;
    left: 0;
    height: 50px;
    width: 25px;
    border-radius: 20px;
    border: 5px solid #ddd;
    animation: bub 2s infinite linear;
}
.bubbles .bub:nth-child(1){
    position: absolute;
    top: 10px;
    left: 30px;
    height: 25px;
    width: 15px;
    border-radius: 20px;
    border: 4px solid #ddd;
    animation: bub 2s infinite linear;
    animation-delay: 0.2s;
}
.bubbles .bub:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 25px;
    border-radius: 20px;
    border: 5px solid #ddd;
    animation: bub 2s infinite linear;
}
@keyframes bub 
{
    0%,100%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(5px);
    }
}