* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: #111;
}
canvas {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
